---
---

@import "{{ site.theme }}";
@import "notice";
@import "minorCorrections";

// todo move below to new file when settled
.site-header {
  position: sticky;
  top:0;
  border-top: none;
}

.site-footer, .site-header {
  background: mintcream
}